* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inizio Nav */
nav {
    background-color: #2B5EE7;
}

header{
    background-image: url(/img/jumbo.png);
    background-size: cover;
}

.container-nav {
    display: flex;

    font-size: small;
    font-family: sans-serif;

    max-width: 900px;
    margin: auto;
    padding-top: 20px;

}

.container-nav #logo {
    
    width: 120px;
}

nav .container-nav #logo img {
    width: 100px;
}

.container-nav #link {

    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 5px;
}

.container-nav #link a {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.container-nav #login {
    display: flex;
    justify-content: end;

    width: 120px;
}

nav .container-nav #login input {
    padding: 7px 10px;

    border: 0px;
    border-radius: 40px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Fine Nav */

/* Inizio Header */

header {
    padding: 50px;
}

header div {
    max-width: 600px;
    margin: auto;
    padding-bottom: 40px;
}

header div h1 {
    padding: 30px 0 30px 0;

    text-align: center;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}

header div p {
    padding-bottom: 20px;

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 25px;
    color: white;
}

header div .button {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

header div .button div {

    display: flex;
    align-items: center;

    margin: 0;
    padding: 10px 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    border-radius: 40px;
    background-color: white;
}

header div .button div span {
    padding-right: 7px;
    font-size: 20px;
}

header div .button input {
    padding: 10px 20px;

    border: 0px;
    border-radius: 40px;
}


header div .button .open-browser {

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #23272A;
}

/* Fine Header */

/* Inizio Main */

main section {
    padding: 30px;
}

main section > * {
    display: flex;
    max-width: 814px;
    gap: 60px;
    margin: auto;    
}

main section div .img {
    padding-bottom: 50px;
}

main section div .img img{
    width: 470px;
}

main section div .element {
    flex-grow: 1;
}

main section div .element h2 {

    padding: 20px 20px 20px 0;

    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

main section div .element p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 25px;
}

main .gray {
    background-color: #D3D3D3;
}

main .gray #block-green {
    height: 500px;
    /* Test */

    border: 0.5px dashed black;
    background-color: #228B22;
}

/* Fine Main */

/* Inizio Footer */

footer section:first-child {

    padding: 5px 0 20px 0;

    background-color: #23272A;
}

footer section .container-footer {
    height: 300px;
    /* test */

    display: flex;

    max-width: 700px;
    margin: auto;
}

footer section .container-footer #main-link {

    width: 200px;

    border: 0.5px dashed black;
    background-color: #F08080;
}

footer section .container-footer #various-link {
    
    display: flex;
    flex-grow: 1;

    border: 0.5px dashed black;
    background-color: #20B2AA;
}

footer section .container-footer #various-link div {

    flex-grow: 1;

    border: 0.5px dashed white;
}

hr {
    border: 0.1px solid gray;
}

footer #last-section {

    padding-top: 20px;

    background-color: #23272A;
}

footer #last-section #end-page {

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    max-width: 700px;
    margin: auto;

    background-color: #7FFFD4;
}

footer #last-section #end-page div {

    padding: 5px;

    font-size: small;
    font-family: sans-serif;

    border: 0.5px dashed black;
    background-color: #FFB6C1;
}

/* Fine Footer */