* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inizio Nav */
nav {
    background-color: #2B5EE7;
}

header{
    background-image: url(/img/jumbo.png);
    background-size: cover;
}

.container-nav {
    display: flex;

    font-size: small;
    font-family: sans-serif;

    max-width: 900px;
    margin: auto;
    padding-top: 20px;

}

.container-nav #logo {
    
    width: 120px;
}

#logo img {
    width: 100px;
}

.container-nav #link {

    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 5px;
}

.container-nav #link a {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.container-nav #login {
    display: flex;
    justify-content: end;

    width: 120px;
}

nav .container-nav #login input {
    padding: 7px 10px;

    border: 0px;
    border-radius: 40px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Fine Nav */

/* Inizio Header */

header {
    padding: 70px;
    margin-bottom: 80px;
}

header div {
    max-width: 600px;
    margin: auto;
    padding-bottom: 40px;
}

header div h1 {
    padding: 30px 0 30px 0;

    text-align: center;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}

header div p {
    padding-bottom: 20px;

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 25px;
    color: white;
}

header div .button {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

header div .button div {

    display: flex;
    align-items: center;

    margin: 0;
    padding: 10px 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    border-radius: 40px;
    background-color: white;
}

.arrow {
    padding-right: 7px;
}

header div .button input {
    padding: 10px 20px;

    border: 0px;
    border-radius: 40px;
}


header div .button .open-browser {

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #23272A;
}

/* Fine Header */

/* Inizio Main */

main .white{
    padding-top: 30px;
    padding-bottom: 50px;
}

main section > * {
    display: flex;
    max-width: 814px;
    gap: 60px;
    margin: auto;    
}

main hr {
    width: 100%;
    height: 60px;

    background-color: white;
    background-image: url(/img/wave.svg);

    filter: opacity(0.1);
}

main #wave-rotate {
    transform: rotate(180deg);
}

main section div .img {
    padding-bottom: 50px;
}

main section div .img img{
    width: 470px;
}

main section div .element {
    flex-grow: 1;
}

main section div .element h2 {

    padding: 20px 20px 20px 0;

    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

main section div .element p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 25px;
}

main .gray {

    padding-top: 100px;
    padding-bottom: 100px;

    background-color: #e5e5e5;
}

main .gray #block-green {

    display: flex;
    flex-direction: column;
    gap: 0;

    text-align: center;
}

main .gray #block-green h2 {
    padding: 20px;

    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

main .gray #block-green p {
    padding: 0 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

main .gray #block-green h3 {

    width: 360px;
    padding: 20px;
    margin: auto;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    background-image: url(/img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

main .gray #block-green div {

    width: 200px;
    padding: 10px 20px;
    margin: auto;

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: white;
    border-radius: 40px;
    background-color: #8EA1E1;
}

/* Fine Main */

/* Inizio Footer */

footer {
    background-color: #23272A;
}

footer section:first-child {
    padding-top: 70px;
    padding-bottom: 20px;
}

footer section .container-footer {
    height: 300px;
    /* test */

    display: flex;

    max-width: 850px;
    margin: auto;
}

/* Inizio Prima Colonna */

footer section .container-footer #main-link {
    width: 300px;
    padding-right: 50px;
}

footer section .container-footer #main-link h3 {

    padding-bottom: 20px;

    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

    color: #7289DA;
}

footer section .container-footer #main-link #infobox #language img {
    width: 20px;
}

footer section .container-footer #main-link #infobox #language span {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

footer section .container-footer #main-link #infobox #language #curtain {
    width: 10px;
    filter: invert(1);
}

footer section .container-footer #main-link #infobox #social {
    display: flex;
    width: 20px;
    gap: 20px;
    padding-top: 20px;
}

footer section .container-footer #main-link #infobox #social img {
    filter: invert(1);
}

/* Fine Prima Colonna */

/* Inizio Colonne Secondarie */

footer section .container-footer #various-link {
    display: flex;
    flex-grow: 1;
    gap: 30px;
}

footer section .container-footer #various-link div {

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    line-height: 25px;

    font-size: small;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: white;
}

footer section .container-footer #various-link h4 {
    color: #7289DA
}

/* Fine Colonne Secondarie */

hr {
    width: 900px;
    margin: auto;

    height: 0.5px;
    background-color: #7289DA;
    border: none;

}

footer #last-section {
    padding-top: 20px;
    padding-bottom: 100px
}

footer #last-section #end-page {

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    max-width: 900px;
    margin: auto;
}

footer #last-section #end-page div {

    padding: 5px;

    font-size: small;
    font-family: sans-serif;    
}

footer #last-section #end-page #login input {
    padding: 7px 10px;

    border: 0px;
    border-radius: 40px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: white;
    background-color: #8EA1E1;
}

/* Fine Footer */